= content_for :container_class, "homepage"

.jumbotron
  %h1 Welcome!
  %p.lead Welcome to the quiz game
  - unless user_signed_in?
    %p
      = link_to "Sign In", user_session_path, class: "btn btn-lg btn-default"
      = link_to "Register", new_user_registration_path, class: "btn btn-lg btn-default"
